<!doctype html>
<head>
<title>Unofficial Bixi API</title>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1>Unofficial Bixi API</h1>
		<hr>
		
		<p>Scraping Montreal Bixi website for bikes and docks status using Flask and BeautifulSoup.</p>
		
		<p>Check out the json feed <a href="api">here</a>.</p>
		<p>This project is open source on <a href="https://github.com/dannytranlx/bixi">GitHub</a>.</p>
	</div>
</body>
</html>
